<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.trolldad.dashclock.redditheadlines">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="true"
        android:name="net.trolldad.dashclock.redditheadlines.RedditHeadlinesApplication_"
        android:label="@string/my_app_name"
        android:theme="@android:style/Theme.Holo"
        android:icon="@drawable/ic_reddit_white">
        <activity android:name="net.trolldad.dashclock.redditheadlines.activity.PreviewActivity_"
            android:exported="true"/>
        <service android:name="net.trolldad.dashclock.redditheadlines.RedditHeadlinesExtension_"
            android:icon="@drawable/ic_reddit_white"
            android:label="@string/extension_title_1"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="2" />
            <meta-data android:name="worldReadable" android:value="true" />
            <meta-data android:name="description"
                android:value="@string/extension_description_1" />
            <meta-data android:name="settingsActivity"
                android:value=".activity.PreferencesActivity_" />
        </service>
        <activity android:name="net.trolldad.dashclock.redditheadlines.activity.PreferencesActivity_"
            android:label="@string/title_settings"
            android:exported="true" />
        <activity android:name="net.trolldad.dashclock.redditheadlines.activity.AboutActivity_"/>
        <activity android:name="net.trolldad.dashclock.redditheadlines.testactivity.LaunchAnimatedGifActivity" android:exported="true"/>
        <activity android:name="net.trolldad.dashclock.redditheadlines.testactivity.LaunchImageActivity" android:exported="true"/>
        <activity android:name="net.trolldad.dashclock.redditheadlines.testactivity.LaunchGalleryActivity" android:exported="true"/>
        <activity android:name="net.trolldad.dashclock.redditheadlines.testactivity.LaunchAmpersandActivity" android:exported="true"/>
        <activity android:name="net.trolldad.dashclock.redditheadlines.testactivity.LaunchNonImgurActivity" android:exported="true"/>
    </application>

</manifest>
